body {
  font-size: 15pt;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.header {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.header img{
  width: 30%;
  height: auto;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
}

.header .nav {
  background-color: #000000;
  color: #fff;
  padding: 10px 0;
}

.header .nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.header .nav li {
  margin: 0 10px;
}

.header .nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 3px 20px;
  border: 1px solid #636363;
  border-radius: 10px;
}
.header .nav a:hover{
  color: #FF4A4A;
  font-size: 25px;
  background-color: #575755;
  border: 1px solid #FFFA00;
}



main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
  margin-bottom: 10px;
}

p {
  line-height: 1.6;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #99ff99;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #66cc66;
}
.footer{
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

/* Estilos específicos para flexbox */

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

